~/Private///restricted:*
~/Secret///restricted:*
~/Documents/Banking///restricted:*
~/Documents/Bank///restricted:*
~/Banking///restricted:*
~/Bank///restricted:*
