/home/steve/Websites///firefox:/usr/bin/firefox///opera:*
/home/steve/Documents///*:/usr/bin/ristretto///firefox:/usr/lib/firefox/firefox --no-sandbox
/tmp/Videos///vlc:vlc
