Source: firejail
Section: utils
Priority: optional
Maintainer: Steve Dodier-Lazaro <sidi@xfce.org>
Build-Depends: debhelper (>= 9), autotools-dev,
 libgtk-3-dev, libx11-dev, libmount-dev, libgtk2.0-bin, libprocps3-dev
Standards-Version: 3.9.6
Homepage: http://firejail.sourceforge.net

Package: firejail
Architecture: linux-any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libfirejail-0, firejail-common,
  libfirejail-dev
Description: sandbox to restrict the application environment
 Firejail is a SUID security sandbox program that reduces the risk of
 security breaches by restricting the running environment of untrusted
 applications using Linux namespaces and seccomp-bpf.  It allows a
 process and all its descendants to have their own private view of the
 globally shared kernel resources, such as the network stack, process
 table, mount table.
 
Package: libfirejail-0
Section: libs
Architecture: linux-any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library components of the Firejail package

Package: libfirejail-dev
Section: libdevel
Architecture: linux-any
Multi-Arch: same
Depends: libfirejail-0 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libfirejail

Package: firejail-common
Section: utils
Architecture: all
Build-Depends: libfirejail-dev
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libfirejail-0, firejail, devhelp
Description: common files for Firejail

