#!/usr/bin/make -f

#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

LIBDIR := usr/lib/$(DEB_HOST_MULTIARCH)
INCLUDEDIR := usr/include/$(DEB_HOST_MULTIARCH)

DEB_CONFIGURE_EXTRA_FLAGS = \
			--libdir=/$(LIBDIR) \
			--includedir=/$(INCLUDEDIR)

#FIXME
#BUILDDIR := debian/build
#DESTDIR := ${CURDIR}/${BUILDDIR}s

%:
	dh $@ --parallel --with autotools-dev

debian/%: debian/%.in
	dh_testdir
	sed \
		-e "s#@LIBDIR@#$(LIBDIR)#g" \
		-e "s#@INCLUDEDIR@#$(INCLUDEDIR)#g" \
		$@.in > $@

override_dh_auto_configure:
	dh_auto_configure -- --libdir=/$(LIBDIR) --includedir=/$(INCLUDEDIR)

override_dh_fixperms:
	dh_fixperms
	chmod 4755 debian/tmp/usr/bin/firejail
	chmod 4755 debian/tmp/usr/bin/fireexecd
	chmod 0755 debian/tmp/$(LIBDIR)/libexechelperutils.so
	chmod 0755 debian/tmp/$(LIBDIR)/firejail/libexechelper.so
	chmod 0755 debian/tmp/$(LIBDIR)/firejail/libexechelperdecorations.so
	chmod 0755 debian/tmp/$(LIBDIR)/firejail/libtrace.so

override_dh_installchangelogs:
	dh_installchangelogs RELNOTES upstream

override_dh_auto_install:
	dh_auto_install
	# documentation will be installed by debhelper
	rm --verbose -rf debian/firejail-common/usr/share/doc/firejail

# Add dependencies to generate files from the debian/*.in ones
build-indep: $(call dh_subst_files,$(DEB_INDEP_PACKAGES))
build-arch: $(call dh_subst_files,$(DEB_ARCH_PACKAGES))
