#!/usr/bin/make -f

#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

LIBDIR := usr/lib/$(DEB_HOST_MULTIARCH)

DEB_CONFIGURE_EXTRA_FLAGS = \
			--libdir=/$(LIBDIR)

#FIXME
#BUILDDIR := debian/build
#DESTDIR := ${CURDIR}/${BUILDDIR}s

%:
	dh $@ --parallel --with autotools-dev

debian/%: debian/%.in
	dh_testdir
	sed \
		-e "s#@LIBDIR@#$(LIBDIR)#g" \
		$@.in > $@

override_dh_auto_configure:
	dh_auto_configure -- --libdir=/$(LIBDIR)

override_dh_fixperms:
	dh_fixperms
	chmod 4755 debian/firejail/usr/bin/firejail
	chmod 4755 debian/firejail/usr/bin/fireexecd
	chmod 0755 debian/firejail/usr/lib/libexechelperutils.so
	chmod 0755 debian/firejail/usr/lib/firejail/libexechelper.so
	chmod 0755 debian/firejail/usr/lib/firejail/libexechelperdecorations.so
	chmod 0755 debian/firejail/usr/lib/firejail/libtrace.so

override_dh_installchangelogs:
	dh_installchangelogs RELNOTES upstream

override_dh_auto_install:
	dh_auto_install
	# documentation will be installed by debhelper
	rm --verbose -rf debian/firejail/usr/share/doc/firejail

override_dh_md5sums: ;
#	(cd debian/firejail >/dev/null ; find . -type f -regex './etc/firejail/applinks.d/.*' ! -regex './DEBIAN/.*' -printf '%P\0' | LC_ALL=C sort -z | xargs -r0 md5sum > DEBIAN/md5sums) >/dev/null
